@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?oowxc5');
    src:  url('../fonts/icomoon.eot?oowxc5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?oowxc5') format('truetype'),
      url('../fonts/icomoon.woff?oowxc5') format('woff'),
      url('../fonts/icomoon.svg?oowxc5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-mobile1:before {
    content: "\e000";
  }
  .icon-map:before {
    content: "\e025";
  }
  .icon-envelope:before {
    content: "\e028";
  }
  .icon-facebook1:before {
    content: "\e05d";
  }
  .icon-linkedin:before {
    content: "\e062";
  }
  .icon-kameleon-grayscale:before {
    content: "\e900";
  }
  .icon-compass2:before {
    content: "\e94a";
  }
  .icon-map2:before {
    content: "\e94c";
  }
  .icon-mobile:before {
    content: "\e958";
  }
  .icon-ctrl:before {
    content: "\ea50";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-linkedin2:before {
    content: "\eaca";
  }
  
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.contact-composition__icon--1, .contact-composition__icon--2, .contact-composition__icon--3 {
  position: absolute;
  width: 10.6rem;
  height: 12.72rem;
  opacity: 0.95; }
  @media only screen and (max-width: 37.5em) {
    .contact-composition__icon--1, .contact-composition__icon--2, .contact-composition__icon--3 {
      width: 7.6rem;
      height: 9.72rem;
      margin-top: 1rem; } }

.about__background, .book-appointment__background, .connect__background {
  width: 100%;
  padding: 12rem 5rem; }

.footer__background {
  padding: 5rem 0;
  width: 100%; }

.social__icon {
  display: block;
  height: 2.5rem;
  max-width: 2.5rem;
  background-repeat: no-repeat;
  opacity: 0.6;
  cursor: pointer;
  font-size: 3.5rem; }
  @media only screen and (max-width: 75em) {
    .social__icon {
      max-width: 6.2rem; } }

.heading__image--desktop, .heading__image--mobile {
  position: absolute;
  overflow: hidden;
  transform: translateX(-50%);
  left: 50%;
  z-index: -1;
  max-width: 158.3rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@font-face {
  font-family: "AllisonScript-Regular";
  src: url("../fonts/AllisonScript.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AllisonScript.eot?#iefix") format("embedded-opentype"), url("../fonts/AllisonScript.otf") format("opentype"), url("../fonts/AllisonScript.svg") format("svg"), url("../fonts/AllisonScript.ttf") format("truetype"), url("../fonts/AllisonScript.woff") format("woff"), url("../fonts/AllisonScript.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body,
input,
textarea {
  font-family: "Slabo 27px";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #3D3735; }

.form ::placeholder,
.connect__form--completed ::placeholder {
  color: #8b8b8b;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-left: 0.2rem; }

.form button,
.connect__form--completed button {
  font-family: "Slabo 27px";
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #3D3735; }
  .form button[disabled],
  .connect__form--completed button[disabled] {
    color: #8b8b8b; }

.form__input label,
.connect__form--completed__input label {
  color: #8b8b8b;
  font-size: 1.5rem; }

.form__input input,
.form__input textarea,
.connect__form--completed__input input,
.connect__form--completed__input textarea {
  font-size: 1.5rem; }

.navigation *,
.navigation--horizontal * {
  color: #8b8b8b; }

.heading h1,
.signature h1 {
  font-family: "AllisonScript-Regular";
  line-height: 9.7rem;
  font-size: 6rem;
  font-weight: 100; }
  @media only screen and (max-width: 37.5em) {
    .heading h1,
    .signature h1 {
      font-size: 5rem; } }
  @media only screen and (max-width: 17.5em) {
    .heading h1,
    .signature h1 {
      font-size: 4.5rem; } }

.heading h3,
.signature h3 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 3.7rem; }
  @media only screen and (max-width: 37.5em) {
    .heading h3,
    .signature h3 {
      font-size: 1.5rem; } }

.signature h1,
.signature h3 {
  font-size: 3.5rem; }

.marketing h1 {
  font-family: "AllisonScript-Regular";
  font-weight: 100;
  font-size: 2rem; }

.section__header h2 {
  color: #8b8b8b;
  font-size: 2rem;
  font-weight: 200;
  text-align: center; }

.about h2,
.connect h2,
.contact-information h2 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 200;
  color: #8b8b8b; }

.about p,
.connect p,
.contact-information p {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 3.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .row {
      max-width: 46rem;
      padding: 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    min-height: 1rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-1 {
    width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 6rem) / 5) + 6rem); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 6rem) / 5) + 2 * 6rem); }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - 4 * 6rem) / 5) + 4 * 6rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#fff, #fff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 2.5rem; } }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.navigation__item {
  margin: 1rem; }

.navigation__nav--horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }
  .navigation__nav--horizontal ul li {
    float: left;
    cursor: pointer; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 1500; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 1px;
    background-color: #3D3735;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__nav a, .navigation__nav--horizontal a {
  position: relative;
  text-decoration: none; }
  .navigation__nav a::before, .navigation__nav--horizontal a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -0.6rem;
    left: 0;
    background-color: rgba(52, 52, 52, 0.3);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s; }
  .navigation__nav a:hover::before, .navigation__nav--horizontal a:hover::before {
    visibility: visible;
    transform: scaleX(1); }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 3rem 0;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link:link span, .navigation__link:visited span {
        margin-right: 0; } }

.navigation__item {
  margin: 1rem 2rem 1rem 0rem; }
  @media only screen and (max-width: 56.25em) {
    .navigation__item {
      margin: 0; } }

.navigation--mobile {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .navigation--mobile {
      display: block; } }

.navigation--desktop {
  background-color: white; }
  @media only screen and (max-width: 56.25em) {
    .navigation--desktop {
      display: none; } }

.heading {
  padding-bottom: 35.2rem;
  background-size: auto;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .heading {
      padding: 10rem 2rem; } }
  @media only screen and (max-width: 75em) {
    .heading {
      padding: 10rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading {
      padding-top: 1rem; } }
  @media only screen and (max-width: 75em) {
    .heading {
      margin-bottom: 17rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading__title {
      margin-bottom: 6rem;
      margin-right: 13rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading__title {
      margin-bottom: 15rem;
      margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .heading__image--desktop {
      display: none; } }
  .heading__image--mobile {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .heading__image--mobile {
        display: block;
        max-width: 55rem; } }
  .heading__image-container {
    position: absolute;
    width: 100%;
    height: 100rem;
    overflow: hidden; }
  .heading h1 {
    margin-bottom: 1.8rem; }

.about__background {
  transform: skewY(8deg);
  background-color: white;
  padding: 10rem; }
  .about__background > * {
    transform: skewY(-8deg); }
  .about__background--container {
    filter: drop-shadow(0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.14)); }

.about h2 {
  margin-bottom: 3rem; }

.book-appointment__background {
  transform: skewY(8deg);
  box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.14);
  background-color: #E7CFC8;
  margin-top: 34.7rem; }
  .book-appointment__background > * {
    transform: skewY(-8deg); }

.connect {
  padding-bottom: 15rem; }
  .connect__background {
    transform: skewY(-8deg);
    box-shadow: 0rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.14);
    background-color: #E6C6BC;
    margin-top: 34.7rem; }
    .connect__background > * {
      transform: skewY(8deg); }
  .connect__intro {
    margin-bottom: 5rem; }
    .connect__intro h2 {
      margin-bottom: 3rem; }
  .connect__form {
    opacity: 100%; }
    .connect__form.fade-out {
      animation-name: fade-out;
      animation-duration: 1s;
      animation-fill-mode: forwards; }
    .connect__form.fade-in {
      animation-name: fade-out;
      animation-duration: 1s;
      animation-direction: reverse;
      animation-fill-mode: forwards; }
    .connect__form--completed {
      display: none;
      opacity: 0; }
      .connect__form--completed.fade-in {
        animation-name: fade-out;
        animation-duration: 1s;
        animation-direction: reverse;
        animation-fill-mode: forwards;
        min-height: 60rem; }
      .connect__form--completed button {
        border: 0;
        padding: 0;
        background: none;
        cursor: pointer; }

@keyframes fade-out {
  from {
    opacity: 100%; }
  to {
    opacity: 0; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 100%; } }

.footer__background {
  background-color: rgba(52, 52, 52, 0.3); }

.contact-information__background {
  margin-top: 34.7rem; }

.contact-information__informations {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: white;
  box-shadow: 0 0 4.08rem rgba(0, 0, 0, 0.2);
  opacity: 0.9; }

.contact-information__element {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 2rem; }
  .contact-information__element a {
    text-decoration: none;
    color: #3D3735; }
    .contact-information__element a:visited, .contact-information__element a:hover, .contact-information__element a:active {
      color: #3D3735; }

.contact-composition {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .contact-composition {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }
  .contact-composition__photo {
    position: absolute;
    width: 25.9rem;
    height: 37.6rem;
    box-shadow: 2.38rem 3.6rem 4.08rem rgba(0, 0, 0, 0.2);
    left: 28rem;
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 56.25em) {
      .contact-composition__photo {
        display: none; } }
  .contact-composition__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-size: 3.5rem; }
    .contact-composition__icon--1 {
      top: 6rem;
      left: 22.4rem;
      background-color: #8b8b8b; }
      @media only screen and (max-width: 56.25em) {
        .contact-composition__icon--1 {
          position: relative;
          top: auto;
          left: auto; } }
    .contact-composition__icon--2 {
      top: 15.2rem;
      left: 10rem;
      background-color: #E7CFC8; }
      @media only screen and (max-width: 56.25em) {
        .contact-composition__icon--2 {
          position: relative;
          top: auto;
          left: auto; } }
    .contact-composition__icon--3 {
      top: 20rem;
      left: 22.4rem;
      background-color: #E6C6BC; }
      @media only screen and (max-width: 56.25em) {
        .contact-composition__icon--3 {
          position: relative;
          top: auto;
          left: auto; } }
  .contact-composition a {
    text-decoration: none; }

.form__input, .form__button {
  min-height: 7.7rem; }

.form input[type='text'],
.form input[type='date'],
.form input[type='email'] {
  display: block;
  border: 0;
  border-bottom: 1px solid rgba(52, 52, 52, 0.3);
  padding: 0;
  width: 100%;
  background: none;
  height: 3rem;
  margin-bottom: 4rem; }

.form textarea {
  display: block;
  border: 1px solid rgba(52, 52, 52, 0.3);
  padding: 0;
  width: 100%;
  min-height: 20rem;
  background: none; }

.form button {
  border: 0;
  padding: 0;
  background: none;
  margin-top: 2rem; }
  .form button a {
    position: relative; }
    .form button a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1.2rem;
      left: 0;
      background-color: rgba(52, 52, 52, 0.3);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .form button a:hover::before {
      visibility: visible;
      transform: scaleX(1); }
  .form button:hover {
    cursor: pointer; }
  .form button[disabled] {
    cursor: not-allowed; }

.section {
  position: relative; }
  .section__header {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -17rem; }

.back-to-top {
  position: fixed;
  z-index: 2;
  top: 90vh;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  color: #3D3735;
  text-align: center;
  font-size: 3rem;
  background-color: white;
  border-radius: 50%; }
  .back-to-top::before {
    display: inline-block;
    vertical-align: middle;
    color: #3D3735;
    margin-top: 1.5rem; }
  .back-to-top a {
    text-decoration: none;
    vertical-align: -50%; }
    .back-to-top a:visited {
      color: rgba(52, 52, 52, 0.3); }

.signature {
  text-align: left;
  opacity: 0.6; }
  .signature__box {
    position: relative;
    width: 18%;
    left: 82%; }
    @media only screen and (max-width: 37.5em) {
      .signature__box {
        width: 50%;
        height: 50%;
        left: 50%;
        transform: translateX(-85%); } }

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 24rem; }
  @media only screen and (max-width: 37.5em) {
    .social {
      margin: 0 6rem; } }
  .social a {
    text-decoration: none;
    color: #3D3735; }
    .social a:visited, .social a:hover, .social a:active {
      color: #3D3735; }

.marketing {
  border-top: 1px solid #fff;
  opacity: 0.6;
  padding-left: 2rem;
  padding-top: 5rem; }

.map {
  height: 59rem;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .map {
      height: 85rem; } }
