%contact-icon {
    position: absolute;
    width: 10.6rem;
    height: 12.72rem;
    opacity: 0.68;

    @include respond(phone) {
        width: 8.6rem;
        height: 10.72rem;
        margin-top: 1rem;
    }
}

%skewed-full-width {
    width: 100%;
    padding: 15rem 5rem;
}

%full-width {
    padding: 5rem 0;
    width: 100%;
}