%contact-icon {
    position: absolute;
    width: 10.6rem;
    height: 12.72rem;
    opacity: 0.95;

    @include respond(phone) {
        width: 8.6rem;
        height: 10.72rem;
        margin-top: 1rem;
    }
}

%skewed-full-width {
    width: 100%;
    padding: 12rem 5rem;
}

%full-width {
    padding: 5rem 0;
    width: 100%;
}

%icon {
    display: block;
    height: 4.2rem;
    background-repeat: no-repeat;
    opacity: 0.6;
    cursor: pointer;
    font-size: 3.5rem;

    @include respond(tab-land) {
        height: 6.2rem;
    }
}

%heading__image {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    height: auto;
}