.about {
    &__background {
        @include skewedBackground(8deg);

        background-color: white;
        padding: 10rem;

        &--container {
            @include backgroundDropShadow
        }
    }

    h2 {
        margin-bottom: 3rem;
    }
}