.connect {
    padding-bottom: 15rem;

    &__background {
        @include skewedBackground(-8deg);
        @include backgroundShadow;
        background-color: $base-color-pink;
        margin-top: 34.7rem;
    }

    &__intro {
        margin-bottom: 5rem;

        h2 {
            margin-bottom: 3rem;
        }
    }
}