.connect {
    padding-bottom: 15rem;

    &__background {
        @include skewedBackground(-8deg);
        @include backgroundShadow;
        background-color: $base-color-pink;
        margin-top: 34.7rem;
    }

    &__intro {
        margin-bottom: 5rem;

        h2 {
            margin-bottom: 3rem;
        }
    }

    &__form {
        opacity: 100%;

        &.fade-out {
            animation-name: fade-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        &.fade-in {
            animation-name: fade-out;
            animation-duration: 1s;
            animation-direction: reverse;
            animation-fill-mode: forwards;
        }

        &--completed {
            display: none;
            opacity: 0;

            &.fade-in {
                animation-name: fade-out;
                animation-duration: 1s;
                animation-direction: reverse;
                animation-fill-mode: forwards;
                min-height: 60rem;
            }

            button {
                border: 0;
                padding: 0;
                background: none;
                cursor: pointer;
            }
        }

    }
}

@keyframes fade-out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;
    }
}