.heading {
    padding-bottom: 35.2rem;
    @include paddingOnTabPort;

    @include respond(phone) {
        padding-top: 1rem;
    }

    background-size: auto;
    position: relative;

    &__title {
        @include respond(tab-port) {
            margin-bottom: 6rem;
        }

        @include respond(phone) {
            margin-bottom: 15rem;
        }
    }

    &__image {
        &--desktop {
            @extend %heading__image;

            @include respond(phone) {
                display: none;
            }
        }

        &--mobile {
            @extend %heading__image;
            display: none;

            @include respond(phone) {
                display: block;
            }
        }
    }

    h1 {
        margin-bottom: 1.8rem;
    }
}