.heading {
    padding-bottom: 35.2rem;
    @include paddingOnTabPort;

    @include respond(phone) {
        padding-top: 1rem;
    }

    @include respond(tab-land) {
        margin-bottom: 17rem;
    }

    background-size: auto;
    position: relative;

    &__title {
        @include respond(tab-port) {
            margin-bottom: 6rem;
            margin-right: 13rem;
        }

        @include respond(phone) {
            margin-bottom: 15rem;
            margin-right: 0;
        }
    }

    &__image {
        &--desktop {
            @extend %heading__image;

            @include respond(phone) {
                display: none;
            }
        }

        &--mobile {
            @extend %heading__image;
            display: none;

            @include respond(phone) {
                display: block;
                max-width: 55rem;
            }
        }

        &-container {
            position: absolute;
            width: 100%;
            height: 100rem;
            overflow: hidden;
        }
    }

    h1 {
        margin-bottom: 1.8rem;
    }
}