.heading {
    padding-bottom: 29rem;
    @include paddingOnTabPort;

    &__title {
        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    h1 {
        margin-bottom: 1.8rem;
    }
}