.navigation {
    &--horizontal {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;

            li {
                float: left;
                cursor: pointer;
            }
        }

    }
}

.navigation,
.navigation--horizontal {
    @include paddingOnTabPort;

    a {
        position: relative;
        text-decoration: none;
        @include underline(1rem)
    }

    &__item {
        &:not(:first-of-type) {
            margin: 1rem 0 1rem 2rem;
        }

        margin: 1rem 0;
    }
}