.back-to-top {
    position: fixed;
    z-index: 2;
    top: 90vh;
    right: 2rem;
    width: 5rem;
    height: 5rem;
    color: $base-color-grey;
    text-align: center;
    font-size: 3rem;
    background-color: white;
    border-radius: 50%;

    &::before {
        display: inline-block;
        vertical-align: middle;
        color: $base-color-grey;
        margin-top:1.5rem;
    }

    a {
        text-decoration: none;
        vertical-align: -50%;

        &:visited {
            color: $base-color-grey-lighter;
        }
    }
}