.contact-composition {
    position: relative;

    @include respond(tab-port) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__photo {
        position: absolute;
        width: 25.9rem;
        height: 37.6rem;
        box-shadow: 2.38rem 3.6rem 4.08rem rgba(0, 0, 0, 0.2);
        left: 20rem;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond(tab-port) {
            display: none;
        }
    }

    &__icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;

        color: $color-white;
        font-size: 3.5rem;

        &--1 {
            top: 6rem;
            left: 14.4rem;
            background-color: $base-color-grey-light;
            @extend %contact-icon;
            @include insideFlexBox;
        }

        &--2 {
            top: 15.2rem;
            left: 2rem;
            background-color: $base-color-pink-light;
            @extend %contact-icon;
            @include insideFlexBox;
        }

        &--3 {
            top: 20rem;
            left: 14.4rem;
            background-color: $base-color-pink;
            @extend %contact-icon;
            @include insideFlexBox;
        }
    }

    a {
        text-decoration: none;
    }
}