.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 24rem;

    @include respond(phone) {
        margin: 0 6rem;
    }

    &__icon {
        @extend %icon;
    }

    a {
        text-decoration: none;
        color: $base-color-grey;
        &:visited, &:hover, &:active {
            color: $base-color-grey
        }
    }
}