.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__icon {
        @extend %icon;

        &--linkedin {
            @extend %icon;
            background: url('../../icons/linkedin\ \(1\).png');
        }

        &--facebook {
            @extend %icon;
            background: url('../../icons/facebook\ \(1\).png');
        }

        &--user {
            @extend %icon;
            background: url('../../icons/user.png');
        }

        &--instagram {
            @extend %icon;
            background: url('../../icons/instagram\ \(1\).png');
        }

        &--share {
            @extend %icon;
            background: url('../../icons/share.png');
        }
    }

    %icon {
        display: block;
        height: 4.2rem;
        background-repeat: no-repeat;
        opacity: 0.6;
        cursor: pointer;
        font-size: 4.5rem;

        @include respond(tab-land) {
            height: 6.2rem;
        }
    }
}