//only for development
//@import "../../css/icon-font.css";

@font-face {
    font-family: "AllisonScript-Regular";
    src: url("../fonts/AllisonScript.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/AllisonScript.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/AllisonScript.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/AllisonScript.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/AllisonScript.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/AllisonScript.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/AllisonScript.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
input,
textarea {
    font-family: "Slabo 27px";
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    color: $base-color-grey;
}

.form {

    ::placeholder {
        color: $base-color-grey-light;
        font-size: 2rem;
        padding-top: 0.5rem;
        padding-left: 0.2rem;
    }

    button {
        font-family: "AllisonScript-Regular";
        font-size: 4rem;
        letter-spacing: 0.1rem;
        color: $base-color-grey;
    }

    &__input {
        label {
            color: $base-color-grey-light;
            font-size: 2rem;
        }

        input,
        textarea {
            font-size: 2rem;
        }
    }
}

.navigation,
.navigation--horizontal {
    * {
        color: $base-color-grey-light;
    }
}

.heading,
.signature {
    h1 {
        font-family: "AllisonScript-Regular";
        line-height: 9.7rem;
        font-size: 6rem;
        font-weight: 100;
    }

    h3 {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 0.2rem;
        line-height: 3.7rem;
    }
}

.signature {

    h1,
    h3 {
        font-size: 4rem;
    }
}

.marketing {
    h1 {
        font-family: "AllisonScript-Regular";
        font-weight: 100;
        font-size: 3rem;
    }
}

.section {
    &__header {
        h2 {
            color: $base-color-grey-light;
            font-size: 2.7rem;
            font-weight: 200;
            text-align: center;
        }
    }
}

.about,
.connect,
.contact-information {
    h2 {
        font-size: 2.7rem;
        letter-spacing: 0.2rem;
        font-weight: 200;
        color: $base-color-grey-light;
    }

    p {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        line-height: 3.5rem;
    }
}